@model RzhadBids.ViewModels.LotViewModel;
@using RzhadBids.Auth;
@{
    ViewData["Title"] = "Сторінка товару";
    int minimalBid = Model.Lot.Bids.OrderByDescending(x => x.Sum).FirstOrDefault()?.Sum ?? Model.Lot.StartingPrice + 10;
    bool isLastBid = Model.Lot.Bids.LastOrDefault()?.User.Id == Model.User?.Id;
    bool isAuthenticated = User.Identity.IsAuthenticated;
    bool isCreator = Model.User?.Id == Model.Lot.User.Id;
    DateTime now = DateTime.UtcNow;
}
<div class="loader" id="loader"></div>
<div class="hidden" id="content">
    <div class="row">
        <div class="col-md-6">
            <div class="product-gallery">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                      @foreach (var photo in Model.Lot.LotPhotos.Select((value, index) => new { Index = index, Value = value }))
                        {
                            string active = photo.Index == 0 ? "active" : "";
                            <div class="carousel-item @active">
                                <img src="@photo.Value.Url" class="d-block w-100" alt="Product Photo">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h2>Інформація 
                    @if (isCreator)
                    {
                        <span><a href="/lot/@Model.Lot.Id/edit">✎</a></span>    
                    }
                </h2>
                <p>Категорія: @Model.Lot.Category.Title</p>
                <p>Дата створення лоту: @Model.Lot.DateStart</p>
                <p>Дата закінчення лоту: @Model.Lot.DateEnd</p>
                <p>Початкова ціна: @Model.Lot.StartingPrice грн. </p>
                <p>Найбільша ставка: @{
                        var maxBid = Model.Lot.Bids.OrderByDescending(bid => bid.Sum).FirstOrDefault();
                        string bidText = "";
                        if (maxBid != null)
                        {
                            bidText = $"{maxBid.Sum} грн.";
                        }

                        if (bidText == string.Empty)
                        {
                            <p style="color: red">Ставок ще не зроблено! Будьте першими!</p>
                        } else
                        {
                            <p style="color: green">@bidText</p>
                        }
                    }</p>
                @if (isAuthenticated && !isLastBid && now <= Model.Lot.DateEnd)
                {
                    <form action="/lot/@Model.Lot.Id" method="post">
                        <div class="form-group">
                            <label for="bidAmount">Сума ставки:</label>
                            <input type="number" min="@minimalBid" value="@minimalBid" name="Sum" class="form-control" id="bidAmount" placeholder="Сума ставки">
                        </div>
                        <button type="submit" class="bid-button">Сделать ставку</button>
                    </form>
                } else
                {
                    if (!isAuthenticated)
                    {
                         <p style="color: red">Перед тим, як зробити ставку, вам треба 
                             <a href="/register">Зареєструватися</a>/<a href="/login">Увійти</a>
                         </p>
                    } else if (isLastBid && now <= Model.Lot.DateEnd)
                    {
                        <p style="color: red">Ваша ставка є останньою. Слідкуйте за історією ставок!</p>
                    } else if (now > Model.Lot.DateEnd)
                    {
                        ApplicationUser? winner = null;
                        if (Model.Lot.Bids.Count != 0)
                        {
                            winner = Model.Lot.Bids.OrderByDescending(bid => bid.Sum).Last().User;
                        }

                        <p style="color: red">Ставки на цей лот більше не приймаються!</p>
                        <p style="color: blue">Переможець: @(winner != null ? winner.Name + " " + winner.Surname : "Ніхто не переміг")</p>
                    }
                }
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="true">Чат</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Описание</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bid-history-tab" data-toggle="tab" href="#bid-history" role="tab" aria-controls="bid-history" aria-selected="false">История ставок</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
            @if (User.Identity.IsAuthenticated)
            {
                  <div class="chat-container">
                    <div class="chat-box" id="chat-box">
                            @foreach (var message in Model.Messages)
                            {
                                           <div class="message @(message.User.Id == Model.User.Id ? "sent" : "received")">
                                              <p>@message.Text</p>
                                           </div>
                            }
                    </div>
                    <form id="messageForm">
                        <input type="text" id="message-input" placeholder="Введіть повідомлення...">
                        <input type="submit" id="send-button" value="Надіслати" />
                    </form>
                  </div>   
            }
            else
            {
                <span style="color: red">Спочатку увійдіть в акаунт</span>
            }
        </div>
        <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
            <p>@Model.Lot.Description</p>
        </div>
        <div class="tab-pane fade" id="bid-history" role="tabpanel" aria-labelledby="bid-history-tab">
            @if (Model.Lot.Bids.Count == 0)
            {
                <p id="no-bids" style="color: red">Ставок ще не зроблено! Будьте першими!</p>
            } else
            {
                @foreach (var bid in Model.Lot.Bids.OrderByDescending(x => x.Sum))
                {
                    <p style="color: green">@bid.User.Email - @bid.Sum грн.</p>
                }
            }
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    @section Scripts {
        <script>
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/auctionHub")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            connection.start().then(function () {
                connection.on("ReceiveBidUpdate", function (message) {
                    $("#no-bids").remove();
                    if ($("#bids-history p").length === 0) {
                        $("#bids-history").append("<p id='no-bids' style='color: red'>Ставок ще не зроблено! Будьте першими!</p>");
                    }
                    $("#bid-history").prepend(`<p style="color: green">${message.user.userName} - ${message.sum} грн.</p>`);
                });
                connection.on("ReceiveChatUpdate", function (message) {
                    console.log(message);
                    const userId = "@Model.User.Id";
                    const status = userId == message.user.id ? "sent" : "received";
                    $("#chat-box").prepend(`
                        <div class="message ${status}">
                            <p>${message.text}</p>
                        </div>  
                    `);
                });
            }).catch(function (err) {
                return console.error(err.toString());
            });

            $("#messageForm").on("submit", (event) => {
              event.preventDefault();

              const messageText = $("#message-input").val();
              console.log(messageText);

              const message = {
                Text: messageText,
                TimeStamp: "@DateTime.UtcNow.ToString("o")",
                ChatId: @Model.Lot.ChatId,
              };

              if (!messageText.trim()) {
                alert("Введіть повідомлення");
                return;
              }

              $.ajax({
                url: "/api/chat/sendMessage",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(message),
                success: function (response) {
                  console.log("Повідомлення успішно надіслано:", response);
                  $("#message-input").val("");
                },
                error: function (xhr, status, error) {
                  console.log(error);
                  console.error("Виникла помилка:", error);
                },
              });
            });
        </script>
}   
}